<div class="title-navigation">
  <a href="/">
    <img class="back-bt" src="./../../assets/images/back.svg">
  </a>
  <span class="title-text">Orders</span>
  <img (click)="toCreatingMode()" class="add-bt" src="./../../assets/images/add.svg">
</div>
<div>
  <div class="orders-block">
    <ul class="orders-list">
      <li class="table-header">
        <div class="col-1 header">Id</div>
        <div class="col-2 header">Status</div>
        <div class="col-3 header">Order time</div>
      </li>
      <li *ngFor="let order of orders" class="table-item" (click)="selectOrder(order.id)"
      [ngStyle]="{'border-color': order.id == selectedOrderId ? '#999' : '#FFF'}">
        <div class="first-row">
          <div class="col-1">{{order.id}}</div>
          <div class="col-2">{{(statusValues[statusKeys.indexOf(order.status)])}}</div>
          <div class="col-3">{{order.orderTime | date:'shortDate'}}</div>
        </div>
        <div class="second-row">{{order.description}}</div>
      </li>
    </ul>
  </div>
  <div class="order-detail-block">
    <span *ngIf="!selectedOrderId && !creatingNewOrder" class="order-detail-message">You have not selected any order</span>
    <app-order-detail *ngIf="selectedOrderId" [orderId]="selectedOrderId"></app-order-detail>
    <app-new-order *ngIf="creatingNewOrder"></app-new-order>
  </div>
</div>
