.title-text {
  display: table;
  margin: 30px auto 20px auto;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.fields-list {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.fields-list li {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
}

.fields-list .field-name {
  margin-right: 20px;
  flex-basis: 35%;
  color: #999999;
  text-align: right;
}

.fields-list .field-value {
  flex-basis: 65%;
}

.small-input {
  width: 50px;
}
.medium-input {
  width: 150px;
}
.big-input {
  width: 300px;
}
