<div class="title-navigation">
  <a href="/masters">
    <img class="back-bt" src="./../../assets/images/back.svg">
  </a>
  <span class="title-text">Master {{id}}</span>
</div>
<div *ngIf="master">
  <ul class="fields-list">
    <li>
      <div class="field-name">Id</div>
      <div class="field-value">{{master.id}}</div>
    </li>
    <li>
      <div class="field-name">Name</div>
      <div class="field-value">
        <input type="text" class="text-input medium-input" [(ngModel)]="master.name" (ngModelChange)="masterChanged()">
      </div>
    </li>
    <li>
      <div class="field-name">Completed orders</div>
      <div class="field-value">{{master.completedOrderIds}}</div>
    </li>
  </ul>
</div>
