<span class="detail-title-text">Order {{id}}</span>
<form #orderUpdating="ngForm">
  <ul *ngIf="order" class="field-list">
    <li>
      <label class="field-name">Car id</label>
      <input type="text" name="carId" pattern="^\d+$" class="text-input small-input" [(ngModel)]="order.carId" (ngModelChange)="orderChanged()" required ngModel>
    </li>
    <li>
      <label class="field-name">Description</label>
      <input type="text" name="description" class="text-input big-input" [(ngModel)]="order.description" (ngModelChange)="orderChanged()"ngModel>
    </li>
    <li>
      <label class="field-name">Order time</label>
      <label>{{order.orderTime | date:'short'}}</label>
    </li>
    <li>
      <label class="field-name">Completion time</label>
      <label *ngIf="order.completionTime">{{order.completionTime | date:'short'}}</label>
      <label *ngIf="!order.completionTime"> - </label>
    </li>
    <li>
      <label class="field-name">Service ids</label>
      <label>{{order.serviceIds}}</label>
    </li>
    <li>
      <label class="field-name">Goods ids</label>
      <input type="text" name="goodsIds" pattern="^\d+(,\s*\d+)*$" class="text-input medium-input" [(ngModel)]="order.goodsIds" (ngModelChange)="orderChanged()"ngModel>
    </li>
    <li>
      <label class="field-name">Status</label>
      <select name="status" class="select-input" [(ngModel)]="order.status" (ngModelChange)="statusChanged()" required ngModel>
        <option *ngFor="let status of statusKeys; let i = index" value="{{status}}">{{(statusValues[i])}}</option>
      </select>
    </li>
    <li>
      <label class="field-name">Price</label>
      <label *ngIf="order.price">{{order.price | currency:'₴'}}</label>
      <label *ngIf="!order.price"> - </label>
    </li>
  </ul>
</form>
<div *ngIf="order" class="button-list">
  <button (click)="calculatePrice()">Calculate price</button>
  <button (click)="updateStatus()" [disabled]="orderUpdating.invalid || !isStatusChanged">Update status only</button>
  <button (click)="updateOrder()" [disabled]="orderUpdating.invalid || !isOrderChanged">Update order</button>
</div>
