<span class="detail-title-text">New Order</span>
<form #orderCreating="ngForm">
  <ul class="field-list">
    <li>
      <label class="field-name">Car id</label>
      <input type="text" name="carId" pattern="^\d+$" class="text-input small-input" required ngModel>
    </li>
    <li>
      <label class="field-name">Description</label>
      <input type="text" name="description" class="text-input big-input" ngModel>
    </li>
    <li>
      <label class="field-name">Goods ids</label>
      <input type="text" name="goodsIds" pattern="^\d+(,\s*\d+)*$" placeholder="1,2,3" class="text-input medium-input" ngModel>
    </li>
    <li>
      <label class="field-name">Status</label>
      <select name="status" class="select-input" required ngModel>
        <option *ngFor="let status of statusKeys; let i = index" value="{{status}}">{{(statusValues[i])}}</option>
      </select>
    </li>
  </ul>
</form>
<div class="button-list">
  <button (click)="saveOrder(orderCreating.value)" [disabled]="orderCreating.invalid">Save new order</button>
</div>
