<span class="detail-title-text">Service {{id}}</span>
<ul *ngIf="service" class="field-list">
  <li>
    <div class="field-name">Diagnostic</div>
    <div class="field-value">
      <input type="checkbox" class="checkbox-input" [(ngModel)]="service.diagnostic" (ngModelChange)="orderChanged()">
    </div>
  </li>
  <li>
    <div class="field-name">Order id</div>
    <div class="field-value">
      <input type="text" class="text-input small-input" [(ngModel)]="service.orderId" (ngModelChange)="orderChanged()">
    </div>
  </li>
  <li>
    <div class="field-name">Master id</div>
    <div class="field-value">
      <input type="text" class="text-input small-input" [(ngModel)]="service.masterId" (ngModelChange)="orderChanged()">
    </div>
  </li>
  <li>
    <div class="field-name">Price</div>
    <div class="field-value">
      <input type="text" class="text-input medium-input" [(ngModel)]="service.price" (ngModelChange)="orderChanged()">
    </div>
  </li>
  <li>
    <div class="field-name">Status</div>
    <div class="field-value">
      <select class="select-input" [(ngModel)]="service.status" (ngModelChange)="statusChanged()">
        <option *ngFor="let status of statusKeys; let i = index" value="{{status}}">{{(statusValues[i])}}</option>
      </select>
    </div>
  </li>
</ul>
<div *ngIf="service" class="button-list">
  <button *ngIf="isStatusChanged" (click)="updateStatus()">Update status only</button>
  <button *ngIf="isServiceChanged" (click)="updateService()">Update service</button>
</div>
