@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.title-navigation {
  height: 80px;
  padding: 10px 0;
  margin-bottom: 30px;
}
.title-navigation .back-bt {
  float: left;
  margin: 30px;
}
.title-navigation .add-bt {
  float: right;
  margin: 25px 50px;
  cursor: pointer;
}
.title-navigation .title-text {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #6F6F6F;
  float: left;
  margin: 20px 0;
}

.checkbox-input {
  accent-color: #6F6F6F;
}

.text-input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  display: block;
  border-bottom: 0.2rem solid #999;
}

.select-input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  border-bottom: 0.2rem solid #999;
  transition: all 150ms ease;
}

.button-list {
  display: block;
  margin: 20px auto;
  text-align: center;
}
.button-list button {
  cursor: pointer;
  margin: 6px;
  padding: 6px 10px;
  background-color: #F5F5F5;
  border: #6F6F6F solid 1px;
  border-radius: 5px;
}
.button-list button:hover {
  margin: 5px;
  border-width: 2px;
}
